body {
    font-size: 16px;
    color: #000;
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}
/* HEADER */
#header-nav {
    background-color: #808080;
    border-radius: 0;
    border-bottom: 2px solid #000;
}
.navbar-brand h1 { 
    color: #000;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #d3d3d3;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
#nav-list {
    background-color: #87ceeb;
    margin-top: 0;
    margin-bottom: 0;
}
#nav-list a {
    color: #000;
    border: 1px solid #000;
    text-align: center;
}
#nav-list a:hover {
    background: #d3d3d3;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #000;
}
/* BODY */
#ourMenu {
    font-size: 2.0em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #d3d3d3;
    margin-top: 0;
    margin-bottom: 50px;
    line-height: .75;
}
.menuSections {
    background-color: #808080;
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    #main-content {
        width: 70%;
        }
}



