body {
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
}
/* HEADER */
h1 {
    color: #000;
    margin: auto;
}
#header-nav {
    background-color: #808080;
    border-radius: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 75px;
}
