* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header-nav {
    background-color: #808080;
    border-radius: 0;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 75px;
}

h1 {
    color: black;
    margin: auto;
}